<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        a {
            color: #0b7200;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        body {
            background: #fff;
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            font-family: 'Segoe UI', Arial, sans-serif;
            font-size: 12px;
            font-size: 12px;
        }

        .bodywrap {
            max-width: 640px !important;
            margin: auto;
            overflow-x: hidden;
        }

        table {
            max-width: 640px;
        }

        table td {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
        }

        img {
            border: none;
        }

        p {
            margin-bottom: 1em;
        }
        /* Yahoo! Mail fix. */

        @media only screen and (max-width: 480px) {
            .block {
                display: block;
                width: 100%;
                padding: 5px 0px 5px 0px;
                box-sizing: border-box;
            }
            .mobileAdjust {
                font-size: 24px !important;
                line-height: 28px !important;
            }
            .mobileBlock {
                display: block !important;
                width: 100% !important;
                box-sizing: border-box;
            }
            .mobileHidden {
                display: none !important;
            }
            .autoSize {
                width: 100% !important;
                height: auto !important;
            }
            h1.h1Header {
                font-size: 28px !important;
                line-height: 28px !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0">
    <style type="text/css">
        div.preheader {
            display: none !important;
        }
    </style>
    <div class="preheader" style="font-size: 1px; display: none !important;">
        <strong>Achtung:</strong> Ihr Werteakademie Benutzerkonto wurde neu erstellt. Loggen Sie sich mit dem tempor&auml;ren Kennwort
        des Benutzers an und &auml;ndern Sie es sofort.
    </div>

    <!--  -->

    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td align="center" valign="top" width="640" class="bodywrap">

                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="20" valign="middle" style="color:#000000;  font-size:12px; font-weight:bold; padding:20px 0;">&nbsp;</td>
                        <td width="600" valign="middle" style="color:#000000;  font-size:12px; font-weight:bold; padding:20px 0;">

                            <img src="http://gut-goedelitz.de/EmailImages/logo_Werteakademie.png" width="200" alt="Gut G&ouml;delitz - Werteakademie"
                                border="0">

                            <h1 style="color:#000000; font-family:'Segoe UI Light','Segoe UI',Arial,sans-serif; font-size:38px; font-weight:100; line-height:38px; margin-bottom:12px; padding:0;"
                                class="h1Header">
                                Ihr Benutzerkonto wurde erstellt.
                            </h1>

                        </td>
                        <td width="20" valign="middle" style="color:#000000;  font-size:12px; font-weight:bold; padding:20px 0;">&nbsp;</td>
                    </tr>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="20" valign="middle" style="color:#000000;  font-size:12px; padding:0 0 30px;">&nbsp;</td>
                        <td width="600" align="left" valign="top" style=" font-size:13px; line-height:16px; padding:0 0 30px;">

                            <p>
                                Hallo #GGDisplayName#!
                                <br/>
                                <br/> Die folgende E-Mail enth&auml;lt Ihr tempor&auml;res Kennwort f&uuml;r das neu erstellte
                                Benutzerkonto.
                            </p>
                            <p>
                                Hinweis:
                            </p>
                            <ul>
                                <li>Das tempor&auml;re Kennwort ist 90 Tage g&uuml;ltig.</li>
                                <li>Das Passwort muss nach dem ersten Login ge&auml;ndert werden.</li>
                            </ul>

                            <p><strong>Benutzername: </strong>#GGEmail#<br><strong>Tempor&auml;res Kennwort: </strong>#GGPassword#</p>

                            <p>
                                Anmeldeseite aufrufen:
                                <a href="https://login.microsoftonline.com/?username=#GGEmail#" title="http://portal.gut-goedelitz.de" style="color:#0b7200;">http://portal.gut-goedelitz.de</a>
                            </p>
                            <p>
                                Viel Spa&szlig; auf dem Portal und auf eine tolle Zusammenarbeit.
                            </p>
                            <p>
                                Mit freundlichen Gr&uuml;&szlig;en,
                                <br>Ihr Werteakademie IT-Team
                            </p>
                            <p>
                                PS: Im Anhang befinden sich Anleitungen!
                            </p>
                        </td>
                        <td width="20" valign="middle" style="color:#000000;  font-size:12px; padding:0 0 30px;">&nbsp;</td>
                    </tr>
                </table>

                <table width="100%"bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="640" valign="middle" bgcolor="#f2f2f2" style="color:#000000;  font-size:12px; padding:20px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tr>
                                    <td width="20" valign="middle">&nbsp;</td>
                                    <td width="460" colspan="4" align="left" valign="bottom" bgcolor="#f2f2f2" style="color:#000000;  font-size:12px; line-height:16px; padding:0;"
                                        class="mobileBlock">

                                        <p>
                                            Diese Nachricht wurde automatisch generiert. Bei Fragen gerne eine E-Mail an
                                            <a href="mailto:hilfe@gut-goedelitz.de">hilfe@gut-goedelitz.de</a>.
                                            <br/>
                                            <br>
                                            <a href="http://www.gut-goedelitz.de" title="Gut-Goedelitz.de" style="text-decoration:underline;">Gut-Goedelitz.de</a> |
                                            <a href="***REMOVED***" title="Kontaktportal der Werteakademie" style="text-decoration:underline;">Portal der Werteakademie</a>
                                        </p>
                                    </td>
                                    <td width="20" valign="middle" bgcolor="#f2f2f2" style="color:#000000;  font-size:12px; padding:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20" valign="middle"></td>
                                    <td width="190" style="padding: 5px">
                                        <img width="175" height="65" src="http://gut-goedelitz.de/EmailImages/logo_GutGoedelitz.png" style="height:.677in;width:1.822in">
                                        <table cellpadding=0 cellspacing=0 align=left>
                                            <tr>
                                                <td width=1 height=10></td>
                                                <td width=30></td>
                                                <td width=8></td>
                                                <td width=30></td>
                                                <td width=8></td>
                                                <td width=30></td>
                                            </tr>
                                            <tr>
                                                <td height=30></td>
                                                <td align=left valign=top>
                                                    <br/>
                                                    <a href="http://gut-goedelitz.de/" title="Zur Gut G&ouml;delitz e.V. Website" style="font-size:9.0pt;font-family:'Century Gothic';"
                                                        target="_blank">
                                                        <img border="0" width="15" height="15" src="http://gut-goedelitz.de/EmailImages/Internet.png">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td align=left valign=top>
                                                    <br/>
                                                    <a href="https://www.facebook.com/GutGoedelitz" title="Zur Facebook Fanpage" style="font-size:9.0pt;font-family:'Century Gothic';"
                                                        target="_blank">
                                                        <img border="0" width="15" height="15" src="http://gut-goedelitz.de/EmailImages/facebook.png">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td align=left valign=top>
                                                    <br/>
                                                    <a href="https://www.youtube.com/channel/UCv3eHpRAMDsefgJ02YRlr1Q" title="Zum Youtube Channel" style="font-size:9.0pt;font-family:'Century Gothic';"
                                                        target="_blank">
                                                        <img border="0" width="15" height="15" src="http://gut-goedelitz.de/EmailImages/Youtube.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </td>
                                    <td width="212" style="padding: 5px">
                                        <span style="font-size:9.0pt;font-family:'Century Gothic';">
                                            <p style="line-height: 25px;">
                                                <strong style="color:#468F48">ost-west-forum Gut G&ouml;delitz e.V.</strong>
                                            </p>
                                            <p style="line-height: 18px;">G&ouml;delitz 1
                                                <br />04720 D&ouml;beln
                                                <br />Tel.: +49 34325 20434
                                                <br />Fax.: +49 34325 20421
                                                <br />E-Mail:
                                                <a style="color:#468F48" href="mailto:buero@gut-goedelitz.de">buero@gut-goedelitz.de</a>
                                            </p>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" valign="middle" style="border-top: solid #f2f2f2 1.0pt;"></td>
                                    <td colspan="2" style="border-top: solid #A4A4A7 1.0pt;"> </td>
                                </tr>
                                <tr>
                                    <td width="20" valign="middle"></td>
                                    <td width="190" style="padding: 5px">
                                        <span style="font-size:9.0pt;font-family:'Century Gothic';">
                                            <p style="line-height: 25px;">
                                                <strong>Gr&uuml;ndungskuratorium &dagger;</strong>
                                            </p>
                                            <p style="line-height: 18px;">Prof. Dr. h. c. Egon Bahr
                                                <br />Dr. Marion Gr&auml;fin D&ouml;nhoff
                                                <br />Prof. Wolfgang Mattheuer
                                                <br />Dr. Richard von Weizs&auml;cker
                                                <br />
                                                <br />
                                                <br />
                                                <br/>
                                            </p>
                                        </span>
                                    </td>
                                    <td width="212" style="padding: 5px">
                                        <span style="font-size:9.0pt;font-family:'Century Gothic';">
                                            <p style="line-height: 25px;">
                                                <strong>Kuratorium</strong>
                                            </p>
                                            <p style="line-height: 18px;">Prof. Adelheid Bahr
                                                <br />Dr. h. c. Eberhard von Kuenheim
                                                <br />Matthias Platzeck
                                                <br />Prof. Dr. Jens Reich
                                                <br />Prof. Dr. Horst Teltschik
                                                <br />Jutta Wachowiak</p>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" valign="middle" style="border-top: solid #f2f2f2 1.0pt;"></td>
                                    <td colspan="2" style="border-top: solid #A4A4A7 1.0pt;"> </td>
                                </tr>
                                <tr>
                                    <td width="20" valign="middle"></td>
                                    <td width="190" style="padding: 5px">
                                        <span style="font-size:9.0pt;font-family:'Century Gothic';">
                                            <p style="line-height: 18px;">Amtsgericht Chemnitz
                                                <br />Registernummer VR 5415</p>
                                        </span>
                                    </td>
                                    <td width="212" style="padding: 5px">
                                        <span style="font-size:9.0pt;font-family:'Century Gothic';">
                                            <p style="line-height: 18px;">Vorsitz: Axel Schmidt-G&ouml;delitz
                                                <br />Schatzmeister: J&uuml;rgen Vogel</p>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>