<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GG.FA.CreateO365User.Tests.Properties.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GG.FA.CreateO365User.Tests.Properties.Common>
            <setting name="AppIDURI" serializeAs="String">
                <value>https://***REMOVED***.azurewebsites.net</value>
            </setting>
            <setting name="ReplyUrl" serializeAs="String">
                <value>https://***REMOVED***.azurewebsites.net/.auth/login/aad/callback</value>
            </setting>
            <setting name="AppClientID" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="AppClientSecret" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="IssuerUrl" serializeAs="String">
                <value>https://sts.windows.net/***REMOVED***/</value>
            </setting>
            <setting name="TenantId" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="SiteIdUserList" serializeAs="String">
                <value>***REMOVED***,***REMOVED***,***REMOVED***</value>
            </setting>
            <setting name="ListIdUserList" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
        </GG.FA.CreateO365User.Tests.Properties.Common>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>